@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=League+Gothic&family=Syne+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background: url(img3.jpg) no-repeat; 
    background-size: cover;
  }
  
  a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #201b2c;
    height: 8vh;
  }
  
  main {
    background: url("m2.png") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }

  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  
.card_livros {
    max-width: 10000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
    grid-gap: 30px;
    padding-top: 50px;
  }

.card_item{
  height: 400px;
  background-color: #F0F8FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #59429d;
  border-radius: 20px;

}

.card_content{
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card_item img{
    width: 80%; 
    border-radius: 10px;
}

.card_item p{
  width: 80%;
  font-style: italic;
  font-family: 'Syne Mono', monospace;
  color: #00000070;
}

button {
  width: 20%;
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  color: #fff   ;
  transition: 0.4s ease;

  font-family: 'Syne Mono', monospace;
}

button:hover{
  background-color: #fff;
  color: #59429d;
}

.titulo{
  width: 18%;
  margin-top: 20px;
  margin-left: 42%;
  font-family: 'Syne Mono', monospace;
  background-color: #59429d;
  color: #fff;
  align-items: center;
  padding: 0.2em;
  border-radius: 5px;

  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.sobre {
  margin-top: 100px;
  width: 40%;
  margin-left: 30%;
  flex-direction: column;

  font-family: 'Syne Mono', monospace;
  background-color:#fff;
  color: #59429d;
  padding: 0.2em;
  border-radius: 5px;
}

.img{
 
  margin-left: 25%;
}

.unico{
  margin-left: 34%;
}

