{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>BOB</title>
    <link rel="stylesheet"  href= "{% static 'css/styleP1.css' %}">
    

    <header>
        <nav>
            <a class="logo" href="#">Gestor BOB</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href= "{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'acervo' %}">Acervo</a></li>
                <li><a href="{% url 'contato' %}">Contatos</a></li>
            </ul>
        </nav>
    </header>
    
    <script src="{% static 'js/mobile-navbar.js' %}"></script>

</head>

<body>
    <link rel="stylesheet"  href= "{% static 'css/styleHome.css' %}">
    <div class="titulo_pagina">
        <h2> Bem vindo ao nosso site </h2>
    </div>
    <p> 
        Navegue pelas paginas, na pagina de acervo você pode pesquisar pelo seu livro favorito
        além de encontrar diversos livros que podem te interessar.
    </p>
    <div class="cima">
            
        <img src="{% static 'images/tela_acervo.png' %}">

        <p>
            "Somos um planeta vivo, Sofia! Somos um grande barco navegando ao redor de um sol incandescente 
            no universo. Mas cada um de nós é um barco em si mesmo, um barco carregado de genes navegando pela 
            vida. Se conseguirmos levar esta carga ao porto mais próximo, nossa vida não terá sido em vão." (Jostein Gaarder)
        </p>

        <p>
            "Sou atormentado por uma coceira interminável por coisas distantes. Eu adoro navegar por mares proibidos." (Moby Dick)
        </p>
    </div>

</body>





</html>
