{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>BOB</title>
    <link href={% static 'css/style.css'%} rel="stylesheet">
    <script src="https://kit.fontawesome.com/be8c5b7455.js" crossorigin="anonymous"></script>

    <header>
        <nav>
            <a class="logo" href="index.html">Gestor BOB</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href= "{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'acervo' %}">Acervo</a></li>
                <li><a href="{% url 'contato' %}">Contatos</a></li>
            </ul>
        </nav>
    </header>
    
    <script src="{% static 'js/mobile-navbar.js' %}"></script>

</head>

<body>
    <h3>Bem vindo a nosso site</h3>
</body>





</html>
