{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>BOB</title>
    <link href={% static 'css/style1.css'%} rel="stylesheet">
    <script src="https://kit.fontawesome.com/be8c5b7455.js" crossorigin="anonymous"></script>

    <header>
        <nav>
            <a class="logo" href="index.html">Gestor BOB</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            
            <ul class="nav-list">
                <li><a href="{% url 'home_fun' %}">Inicio</a></li>
                <li><a href="{% url 'reserva' %}">Reservas</a></li>
                <li><a href="{% url 'lcontatos' %}">Mensagens</a></li>
            </ul>
        </nav>
    </header>
    
    <script src="{% static 'js/mobile-navbar.js' %}"></script>

</head>

<body>
    <link href={% static 'css/op1.css'%} rel="stylesheet">
    <div class="titulo_pagina">
        <h2> Bem vindo funcionario</h2>
    </div>
    <p> 
       Aqui você tem acesso as funcionalidades para os funcionarios da biblioteca
    </p>
    <div class="cima">

        <p>
            "Somos um planeta vivo, Sofia! Somos um grande barco navegando ao redor de um sol incandescente 
            no universo. Mas cada um de nós é um barco em si mesmo, um barco carregado de genes navegando pela 
            vida. Se conseguirmos levar esta carga ao porto mais próximo, nossa vida não terá sido em vão." (Jostein Gaarder)
        </p>
</body>