<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={% static 'css/style_login.css'%} rel="stylesheet">
    <title>login</title>
</head>
<body>  
    <div class="main-login">
        <div class="left-login">
            <div class="card-login">
                <h1>LOGIN</h1>
                <div class="textfield">
                    <label for="usuario">Usuário</label>
                    <input type="text" name="usuario" placeholder="Usuário">
                </div>

                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Senha">
                </div>

                <button class="btn-login">Entrar</button>
            </div>
            
        </div>

        <div class="right-login">
            <h1>Entre em nossa biblioteca</h1>
            <img src={% static 'css/ani1.svg'%} class="rigth-login-image" alt="animação 1">
            <h1>Venha conhecer nosso acervo</h1>
        </div>
    </div>
</body>
</html>