{% load static %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    
    <title>BOB</title>
    <link rel="stylesheet"  href= "{% static 'css/styleP1.css' %}">
   

    <header>
        <nav>
            <a class="logo" href="#">Gestor BOB</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            
            <ul class="nav-list">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href= "{% url 'sobre' %}">Sobre</a></li>
                <li><a href="{% url 'acervo' %}">Acervo</a></li>
                <li><a href="{% url 'contato' %}">Contatos</a></li>
            </ul>
        </nav>
    </header>
    
    <script src="{% static 'js/mobile-navbar.js' %}"></script>

</head>

<body>
    <link href= "{% static 'css/style3.css' %}" rel="stylesheet">
    
        <div class="postagem-content">        
            <div>

                <h1> {{ livro.titulo }} </h1>

                <img src="{{livro.imagem_capa.url}}" alt="livro">
                
                <h2 class="ifo1" style="margin-top: 2%;">
                    Informações Gerais:
                </h2>
            
                <form>
                    <div class="form-row">
                       
    
                        <div class="linha">
                            <label> Autor: </label>
                            <label> {{ livro.nome_autor }} </label>
                        </div>

                        <div class="linha">
                            <label> Data de Publicação: </label>
                            <label> {{ livro.ano_publicacao }} </label>
                        </div>

                        <div class="linha">
                            <label> Genêro Literario: </label>
                            <label> {{ livro.genero }}  </label>
                        </div>

                        <div class="linha">
                            <label> Exemplares Disponiveis: </label>
                            <label> {{ livro.numero_exemplares }}  </label>
                        </div>

                        <div class="resenha" style="margin-top: 2%;">
                            <label  style= "font-size:medium"> Resenha: </label>
                            <p style="margin-top: 1%; margin-left: 2%"> {{ livro.descricao }} </p>
                        </div>
                        <button type="submit" class="botao" style="margin-left: 35%; margin-top: 3%;margin-block-end: 2%;">  <i class="fa-solid fa-magnifying-glass"> Reservar </i></i></button>

                        
                    </div>
                </form>
            </div>
        </div>
</body>

</html>


