{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={% static 'css/style_login.css'%} rel="stylesheet">
    <title>login</title>
</head>
<body>  
    <div class="main-login">
        <div class="left-login">
            <div class="card-login">
                <h1> {{ nome_pagina }} </h1>

                <form action="." method="post" "textfield">
                    <input type="hidden" name="next" valeu= "{{ next }}">
                        
                        {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit" class="btn-login">Entrar</button>
                </form>
            </div>
            
        </div>

        <div class="right-login">
            <h1>Entre em nossa biblioteca</h1>
            <img src={% static 'css/ani1.svg'%} class="rigth-login-image" alt="animação 1">
            <h1>Venha conhecer nosso acervo</h1>
        </div>
    </div>
</body>
</html>